/** TI AM335x BeagleBone black ************************************************/
#ifdef am335x_boneblack_dts
/ {
	aliases {
		state = &state_mmc1;
	};

	state_mmc1: state {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "barebox,state";
		magic = <0xa9cc3f17>;
		backend-type = "raw";
		backend = <&backend_state_mmc1>;
		backend-storage-type = "direct";
		backend-stridesize = <0x40>;
	};
};

&mmc1 {
       partitions {
               compatible = "fixed-partitions";
               #address-cells = <2>;
               #size-cells = <2>;

               barebox: partition@0 {
                       label = "barebox";
                       reg = <0x0 0x0 0x0 0xc000>;
               };
               environment: partition@c0000 {
                       label = "barebox-environment";
                       reg = <0x0 0xc0000 0x0 0x20000>;
               };
               backend_state_mmc1: partition@e0000 {
                       label = "state";
                       reg = <0x0 0xe0000 0x0 0x20000>;
               };
       };
};
#endif

/** Raspberry Pi 3 Model B ****************************************************/
#ifdef bcm2837_rpi_3_dts
/ {
	aliases {
		state = &state;
	};

	state: state {
		magic = <0x11fb08ef>;
		compatible = "barebox,state";
		backend-type = "raw";
		backend = <&statepart>;
		backend-stridesize = <0x80>;
		backend-storage-type = "direct";
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&sdhost {
	#address-cells = <1>;
	#size-cells = <1>;

	statepart: partition@100000 {
		label = "barebox-state";
		reg = <0x100000 0x100000>;
	};

	partition@200000 {
		label = "barebox-environment";
		reg = <0x200000 0x100000>;
	};
};
#endif

/** Generic bootstate node for all platforms **********************************/
/ {
	state: state {
		bootstate: bootstate {};
	};
};

&bootstate {
	#address-cells = <1>;
	#size-cells = <1>;

	system0 {
		#address-cells = <1>;
		#size-cells = <1>;

		remaining_attempts@0 {
			reg = <0x0 0x4>;
			type = "uint32";
			default = <3>;
		};

		priority@4 {
			reg = <0x4 0x4>;
			type = "uint32";
			default = <20>;
		};
	};

	system1 {
		#address-cells = <1>;
		#size-cells = <1>;

		remaining_attempts@8 {
			reg = <0x8 0x4>;
			type = "uint32";
			default = <3>;
		};

		priority@c {
			reg = <0xc 0x4>;
			type = "uint32";
			default = <10>;
		};
	};

	last_chosen@10 {
		reg = <0x10 0x4>;
		type = "uint32";
	};
};
