[submodule "configs/platform-pengutronix-versatilepb"]
	path = configs/platform-pengutronix-versatilepb
	url = ../platform-pengutronix-versatilepb.git
[submodule "configs/platform-pengutronix-vexpress"]
	path = configs/platform-pengutronix-vexpress
	url = ../platform-pengutronix-vexpress.git
[submodule "configs/platform-pengutronix-raspberrypi"]
	path = configs/platform-pengutronix-raspberrypi
	url = ../platform-pengutronix-raspberrypi.git
[submodule "configs/platform-pengutronix-i686-qemu"]
	path = configs/platform-pengutronix-i686-qemu
	url = ../platform-pengutronix-i686-qemu.git
