image @IMAGE@ {
	/* Note: qemu will complain if the SD card size is not a power of two */
	size = 1G
	hdimage {
		align = 1M
		fill = true
		partition-table-type = gpt
	}
	partition root-A {
		image = root.ext2
		partition-type-uuid = e9434544-6e2c-47cc-bae2-12d6deafb44c # root-mips
	}
}

/* vim: set tabstop=8 noexpandtab : */
