[Unit]
Before=mnt-data.mount systemd-fsck@%i.service
Description=Create ext4 Data Partition
ConditionPathExists=/dev/%i

[Service]
Environment=DATAPARTITION=3
Type=oneshot
# resize partition to maximum
ExecStart=/bin/sh -c 'echo ",+" | sfdisk --force -N$DATAPARTITION /dev/mmcblk0'
# force kernel to reload the partition size of partition 3
ExecStart=/usr/sbin/partx -d -n $DATAPARTITION /dev/mmcblk0
ExecStart=/usr/sbin/partx -a -n $DATAPARTITION /dev/mmcblk0
# create filesystem (this service is only started if we have none)
ExecStart=/sbin/mkfs.ext4 /dev/%i
