image beaglebone-boot.vfat {
	vfat {
		file MLO { image = "barebox-am33xx-beaglebone-mlo.img"}
		file barebox.bin { image = "barebox-am33xx-beaglebone.img" }
	}
	size = 32M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0xabe26147
	}
	partition boot {
		image = beaglebone-boot.vfat
		size = 32M
		partition-type = 0xc
		bootable = true
	}
	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 512M
	}
	partition data {
		partition-type = 0x83
		size = 512M
	}
}
/* vim: set tabstop=8 noexpandtab : */
