image @IMAGE@ {
    vfat {
        files = { @FIRMWARE_RPI2@ }
        file MLO { image = "barebox-am33xx-beaglebone-mlo.img"}
        file barebox.bin-rpi2 { image = barebox.bin-rpi2 }
        file barebox.bin-gf { image = barebox.bin-gf }
        #file barebox.bin { image = "barebox-am33xx-beaglebone.img" }
        file barebox.bin { image = "barebox-am33xx-afi-gf.img" }
    }
    name = boot-mlo
    size = 32M
}
