image rpi2-boot.vfat {
	vfat {
		files = { @FIRMWARE_RPI2@ }
		file barebox.img { image = barebox-raspberry-pi.img }
		file bcm2711-rpi-4-b.dtb { image = bcm2711-rpi-4.dtb-bb }
	}
	size = 32M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = hybrid
	}
	partition boot {
		offset = 4M
		image = rpi2-boot.vfat
		partition-type = 0xc
		partition-type-uuid = F
		bootable = true
	}
	partition root-A {
		image = root.ext2
		partition-type-uuid = 69dad710-2ce4-4e3c-b16c-21a1d49abed3 # root-arm
	}
}
/* vim: set tabstop=8 noexpandtab : */
