image rpi2-boot.vfat {
	vfat {
		files = { @FIRMWARE_RPI2@ }
		file barebox.bin { image = barebox-raspberry-pi-2.img-rpi2 }
	}
	size = 32M
}

image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0xbedf7893
	}
	partition boot {
		image = rpi2-boot.vfat
		size = 32M
		partition-type = 0xc
		bootable = true
	}
	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 512M
	}
	partition data {
		partition-type = 0x83
		size = 512M
	}
}
