image @IMAGE@ {
	hdimage {
		align = 1M
		gpt = true
		gpt-no-backup = true
	}
	partition fsbl1 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition fsbl2 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition fip {
		image = "@STM32MP_BOARD@.fip"
		size = 1M
	}
	partition barebox-environment {
		size = 1M
	}
	partition root {
		image = root.ext2
	}
	partition data {
		size = 100M
	}
}

image @STM32MP_BOARD@.fip {
	fip {
		fw-config = "stm32mp1-@STM32MP_BOARD@-fw-config.dtb"
		hw-config = "barebox-@STM32MP_BOARD@.dtb"
		nt-fw = "barebox-stm32mp-generic-bl33.img"
		tos-fw = { "stm32mp1-bl32.bin" }
		tos-fw-config = "stm32mp1-@STM32MP_BOARD@-bl32.dtb"
	}
	size = 1M
}
/* vim: set tabstop=8 noexpandtab : */
