image @IMAGE@ {
	hdimage {
		align = 1M
		gpt = "true"
	}
	partition fsbl1 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition fsbl2 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition ssbl {
		image = "barebox-@STM32MP_BOARD@.img"
		size = 1M
	}
	partition barebox-environment {
		size = 1M
	}
	partition root {
		image = root.ext2
		size = 512M
	}
	partition data {
		size = 100M
	}
}
/* vim: set tabstop=8 noexpandtab : */
