image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0x374ac764
	}

	partition barebox {
		in-partition-table = false
		image = "barebox-udoo-neo.img"
		size = 2M
	}

	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 512M
	}
	partition data {
		partition-type = 0x83
		size = 512M
	}
}
