image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0x74823abf
	}
	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 512M
	}
	partition data {
		partition-type = 0x83
		size = 512M
	}
	/* expand image size to 64 MiB; dummy size, results in 0 bytes length */
	partition end {
		image = /dev/null
		size = 1M
		offset = 1025M
		in-partition-table = false
	}
}

/* vim: set tabstop=8 noexpandtab : */
