image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0x74823abf
	}
	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 192M
	}
	partition data {
		partition-type = 0x83
		size = 63M
	}
	/* genimage does not write zeros at the end of an image to save space,
	 * but the kernel in qemu will complain if the image file is smaller
	 * than the partition sizes, and qemu will complain if the SD card size
	 * is not a power of 2. work around this issues by adding an empty
	 * partition at the end.
	 */
	partition end {
		image = /dev/null
		size = 1M
		offset = 256M
		in-partition-table = false
	}
}

/* vim: set tabstop=8 noexpandtab : */
