image @IMAGE@ {
	/* Note: qemu will complain if the SD card size is not a power of two */
	size = 256M
	hdimage {
		align = 1M
		fill = true
		partition-table-type = gpt
	}
	partition root-A {
		image = root.ext2
		partition-type-uuid = 69dad710-2ce4-4e3c-b16c-21a1d49abed3 # root-arm
	}
	partition root-B {
		image = root.ext2
		partition-type-uuid = 69dad710-2ce4-4e3c-b16c-21a1d49abed3 # root-arm
		size = 96M
	}
	partition data {
		autoresize = true
	}
}

/* vim: set tabstop=8 noexpandtab : */
