image @IMAGE@ {
	hdimage {
		partition-table = false
	}
	partition barebox {
		image = barebox.bin-vexpress
		offset = 0
		in-partition-table = false
	}
	partition barebox-environment {
		/* empty environment -> use barebox builtin */
		image = barebox-zero-env-vexpress
		offset = 0x80000 /* 512 KiB */
		in-partition-table = false
	}
	partition barebox-state {
		image = /dev/null
		offset = 0x100000 /* 1 MiB */
		in-partition-table = false
		size = 0x100000 /* 1 MiB */
	}
	/* expand image size to 64 MiB; dummy size, results in 0 bytes length */
	partition end {
		image = /dev/null
		offset = 64M
		size = 1M
		in-partition-table = false
	}
}

/* vim: set tabstop=8 noexpandtab : */
