image @IMAGE@ {
    vfat {
        file MLO { image = "barebox-am33xx-beaglebone-mlo.img"}
        file barebox.bin { image = "barebox-am33xx-beaglebone.img" }
        file barebox.env { image = "barebox-default-environment" }
        file am335x-bone.dtb { image = "am335x-bone.dtb" }
        file linuximage { image = "linuximage" }
    }
    name = boot-mlo
    size = 32M
}
