image @IMAGE@ {
	/* Note: qemu will complain if the SD card size is not a power of two */
	size = 64M
	hdimage {
		partition-table-type = none
		fill = true
	}
	partition barebox {
		image = barebox-vexpress-ca9.img
		offset = 0
		in-partition-table = false
	}
	partition barebox-environment {
		/* empty environment -> use barebox builtin */
		image = barebox-zero-env-vexpress
		offset = 512K
		in-partition-table = false
	}
	partition barebox-state {
		image = /dev/null
		offset = 1M
		in-partition-table = false
		size = 1M
	}
}

/* vim: set tabstop=8 noexpandtab : */
