image @IMAGE@ {
	hdimage {
		partition-table-type = none
	}
	partition barebox {
		image = barebox-vexpress-ca9.img
		offset = 0
		in-partition-table = false
	}
	partition barebox-environment {
		/* empty environment -> use barebox builtin */
		image = barebox-zero-env-vexpress
		offset = 512K
		in-partition-table = false
	}
	partition barebox-state {
		image = /dev/null
		offset = 1M
		in-partition-table = false
		size = 1M
	}
	/* expand image size to 64 MiB; dummy size, results in 0 bytes length */
	partition end {
		image = /dev/null
		offset = 64M
		size = 1M
		in-partition-table = false
	}
}

/* vim: set tabstop=8 noexpandtab : */
