image @IMAGE@ {
	/* Note: qemu will complain if the SD card size is not a power of two */
	size = 1G
	hdimage {
		align = 1M
		fill = true
		partition-table-type = gpt
	}
	partition root-A {
		image = root.ext2
		partition-type-uuid = 37c58c8a-d913-4156-a25f-48b1b64e07f0 # root-mips-le
	}
}

/* vim: set tabstop=8 noexpandtab : */
