image @IMAGE@ {
       hdimage {
               partition-table-type = "gpt"
               align = 1M
       }
       partition barebox {
               image = "@BAREBOX_IMAGE@"
               size = 896K
               in-partition-table = false
               holes = {"(440; 32K)"}
       }
       partition root {
               offset = 2M
               image = "root.ext2"
               partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
       }
}
