image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0xf5feaddc
	}
	partition boot1 {
		offset = 32k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img-rockchip"
	}
	partition boot2 {
		offset = 2080k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img-rockchip"
	}
	partition barebox_environment {
		offset = 4128k
		size = 128k
		in-partition-table = false
		image = /dev/null
	}
	partition root-A {
		offset = 5M
		image = "root.ext2"
		partition-type = 0x83
	}
	partition data {
		partition-type = 0x83
		size = 512M
	}
}

image barebox-rock3a.norimg {
	hdimage {
		partition-table-type = none
	}

	partition boot1 {
		offset = 32k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img-rockchip"
	}
}
