image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = gpt
	}
	partition boot1 {
		offset = 32k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img"
	}
	partition boot2 {
		offset = 2080k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img"
	}
	partition barebox_environment {
		offset = 4128k
		size = 128k
		in-partition-table = false
		image = /dev/null
	}
	partition barebox-state {
		size = 1M
		partition-type-uuid = 4778ed65-bf42-45fa-9c5b-287a1dc4aab1 # barebox-state
		image = /dev/null
	}
	partition root-A {
		image = "root.ext2"
		partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae # root-arm64
	}
}

image barebox-rock3a.norimg {
	hdimage {
		partition-table-type = none
	}

	partition boot1 {
		offset = 32k
		size = 2M
		in-partition-table = false
		image = "barebox-rock3a.img"
	}
}
