ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyGS*", ENV{SYSTEMD_WANTS}+="serial-getty@%k.service"
ACTION=="add", SUBSYSTEM=="net", ENV{DEVTYPE}=="gadget", ENV{INTERFACE}=="usb*", ENV{SYSTEMD_WANTS}+="usb-ifupdown@%k.service"

